<footer class="pt-md-10 py-8 text-center text-lg-start bg-action-2">
		<div class="container">
			<div class="row flex-column flex-lg-row align-items-center justify-content-center">
				<div class="mb-4 mb-lg-0 col-lg-2 text-center order-0 order-lg-1" data-aos="fade-down"
					data-aos-delay="150">
					<a href="index.html">
						<img src="assets/i/logowhite.svg" alt="" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="mt-10 mb-8 border-bottom border-dark-3" data-aos="fade-down" data-aos-delay="400">
			</div>
			<p class="text-center fs-5 mb-0 fw-bolder text-dark-1" data-aos="fade-down" data-aos-delay="500">
				contato@makerinfo.com.br
			</p>
		</div>
	</footer>