	<meta charset="utf-8">
	<title>Maker Info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="assets/i/favicon.png">
	<!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100;200;300;400;500;600;700;800;900&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap"
		rel="stylesheet">
	<!-- Startup CSS + Bootstrap CSS (Styles for all blocks) -->
	<link href="assets/css/styles.css" rel="stylesheet" />
	<!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
	<!-- Open graph settings (social networks sharing settings) -->
	<meta name='twitter:card' content='summary_large_image'>
	<!-- Open graph settings end -->