				<div class="menu-left sidebar sticky-top bg-action-1 col-lg-2 text-center text-lg-start mb-6 mb-lg-0 px-2 pt-10 pb-2" data-aos="fade-down" data-aos-delay="0">
					<ul>
						<li>
							<a href="materiais.html#materiais" class="font-heading text-dark-1">Materiais</a>
							<ul>
								<li><a href="materiais.html#ferramentas" class="link-action-2">Ferramentas</a></li>
								<li><a href="materiais.html#consumiveis" class="link-action-2">Consumíveis</a></li>
								<li><a href="materiais.html#partes" class="link-action-2">Partes</a></li>
							</ul>
						</li>
						<li>
							<a href="basico.html#basico" class="font-heading text-dark-1">Instrucional Básico</a>
							<ul>
								<li><a href="basico.html#soldarcircuitos" onclick="mostrarConteudo('soldarcircuitos')" class="link-action-2">Como soldar circuitos</a></li>
								<li><a href="basico.html#usarprotoboard" onclick="mostrarConteudo('usarprotoboard')" class="link-action-2">Como usar uma protoboard</a></li>
								<li><a href="basico.html#arduinolovers" onclick="mostrarConteudo('arduinolovers')" class="link-action-2">Arduino Lovers</a></li>
							</ul>
						</li>
						<li>
							<a href="pessoas.html#pessoas" class="font-heading text-dark-1">Pessoas</a>
							<ul>
								<li><a href="pessoas.html#comunidades" onclick="mostrarConteudo('comunidades')" class="link-action-2">Comunidades em São Paulo</a></li>
								<li><a href="pessoas.html#makers" onclick="mostrarConteudo('makers')" class="link-action-2">Makers</a></li>
							</ul>
						</li>
						<li>
							<a href="#comunicacao#comunicacao" class="font-heading text-dark-1">Comunicação</a>
							<ul class="submenu">
								<li><a href="#compartilharprojeto" class="link-action-2">Compartilhe seu projeto na Maker Info</a></li>
								<li><a href="#boaspraticas" class="link-action-2">Boas Práticas</a></li>
							</ul>
						</li>
					</ul>
					
					<!-- <a href="#comunicacao" onclick="mostrarConteudo('comunicacao')" class="font-heading text-dark-1 mb-lg-4 mx-lg-0 mx-2 d-lg-block">
						Comunicação
					</a> -->
				</div>